.masthead{
  width: 100%;
  height: 100vh;
  background-image: url("img/wot-masthead-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*background-color: gray;*/
  text-align: center;

}
.container{
  width: 30vw;
  height: 10vh;
  background-image: url("img/wot-logo-whitex2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 30px;
  margin-top: 30px;

}
.hamcontainer{
  width: 10vw;
  background-image: url("img/HAM-IMG.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 30px;
  margin-top: 20px;
}
